h1 {
  text-align: center;
  color: blueviolet;
  text-decoration: underline;
}
img {
  display: block;
  width: 700px;
  margin: 20px 0;
}
.login-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
}
